project_name=example
number_beads_peptide_1=124
number_beads_without_glycines_peptide_1=119
chain_length_peptide_1=31
chain_number_peptide_1=12
number_beads_peptide_2=124
number_beads_without_glycines_peptide_2=119
chain_length_peptide_2=31
chain_number_peptide_2=12
box_length=159.0
reduced_temperature_value=0.180
number_collisions=1000000000
number_of_runs=200
compiler_variables_path=~/intel/oneapi/setvars.sh
